<div class='row'>

	<div class='col-xs-2'> 
	 <li>{{link-to "Songs" "songs"}}</li>
		something else
		something else
		something else
		something else
		something else
		something else
		something else
		something else
	</div> 
	
	
		<div class='col-xs-6'> 
			{{outlet}}			
		</div>
		
		<div class='col-xs-4'>
			
		</div>
	
</div>