<div class='row'>

	<div class='col-xs-2'> 
	 <li>{{link-to "Songs" "songs"}}</li>
		something else
		something else
		something else
		something else
		something else
		something else
		something else
		something else
	</div> 
	
	
		<div class='col-xs-6'> 
			  {{input type="text" class="new-band" placeholder="Enter a Band" value=title}}
      		<button class="btn btn-primary btn-sm new-band-button" {{action "search"}}>Add</button>
			{{outlet}}			
		</div>
		
		<div class='col-xs-4'>
			
		</div>
	
</div>