<div class='row'>

	<div class='col-xs-2'> 
	
		{{link-to 'Albums' 'index'}}
		something else
		something else
		something else
		something else
		something else
		something else
		something else
		something else
	</div> 
	<div class='col-xs-6'>
		{{#each data as |dat|}}
		<div class='col-xs-3'> 
			<div>
				{{#link-to 'data'}}
				<img height='100px' width='100px' src = '{{dat.artworkUrl100}}'> 
				<div>{{dat.id}}</div>
				{{/link-to}}
	

			</div>

			<br>
			
		</div>
		{{/each}}
	</div>

	{{outlet}}
</div>