<div class='row'>

	<div class='col-xs-1'> 
	 <h3 align="center">{{link-to "Band Search" "index"}}</h3>
		
	</div> 
	
	
		<div class='col-xs-10'> 
			
			<div align="center">
				{{outlet}}			
			</div>
		</div>
	
</div>