<h1 align="center"> Enter the name of a Band to see Music </h1>
<br/>
<div align="center">
	{{input type="text" class="new-band" placeholder="Enter a Band" value=title}}
	<button class="btn btn-primary btn-sm new-band-button" {{action "search"}}>Add</button>
</div>