
{{#each model as |song|}}
	<span class='col-xs-2 container' height="125px" width="125px">
		{{#link-to 'song' song.trackId }}
		
			<img  src = '{{song.artworkUrl100}}'>
			<div>
				<div>{{song.trackCensoredName}}</div>
			</div>
			
		{{/link-to}}
	</span>

{{/each}}


