<div>songs</div>

	{{#each model as |song|}}
		{{#link-to 'song' song.trackId}}
			<img height='100px' width='100px' src = '{{song.artworkUrl100}}'> 
			<div>{{song.trackId}}</div>
		{{/link-to}}
	{{/each}}

{{outlet}}
